<h1>ember-actions-service</h1>

<button {{action (route-action "doSomething")}}>
  Router Action
</button>

<button {{action (route-action "userActions" "user" "doSomething")}}>
  User Action
</button>

<button {{action (route-action "projectActions" "project" "doSomething")}}>
  Project Action
</button>

{{outlet}}
